<!DOCTYPE html>
<html>
  <body>
    <%def chinese_cuisine%>
      <!%if level_of_difficulty=="A" && type_of_cuisine=="D"%>
        <%if "1"=="1"%>
          <img src=http://www.the350degreeoven.com/wp-content/uploads/2013/03/DSC_0202fix.jpg>
              <%=puts "Pan Fried Chinese Pancakes"%>
          <img src=https://i2.wp.com/www.everydayeasyeats.com/wp-content/uploads/2016/06/Chinese-Fried-Rice-1.jpg?fit=680%2C453&ssl=1>
              <%=puts "Chinese Fried Rice"%>
          <img src=http://thewanderlustkitchen.com/wp-content/uploads/2016/12/Sichuan-Tofu-Bok-Choy-Stir-Fry-4.jpg>
              <%=puts "Tofu Bok Choy Stir Fry"%>
      <%elsif level_of_difficulty=="B" && type_of_cuisine=="D"%>
          <img src=https://omnivorescookbook.com/wp-content/uploads/2015/04/1504_Chinese-Eggplant-with-Garlic-Sauce_001.jpg>
              <%=puts "Eggplant with Garlic Sauce"%>
          <img src=http://r4recipe.com/wp-content/uploads/2017/11/Egg-Tarts.jpg>
              <%=puts "Egg Tarts"%>
          <img src=https://img.sndimg.com/food/image/upload/w_896,h_504,c_fill,fl_progressive,q_80/v1/img/recipes/13/40/53/OdK1PcmnRty3BpIy3qb9_egg-rolls-5361.jpg>
              <%=puts "Crispy Egg Rolls"%>
      <%elsif level_of_difficulty=="C" && type_of_cuisine=="D"%>
          <img src=https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fimage%2Frecipes%2Fck%2F06%2F11%2Fpot-stickers-ck-1545753-x.jpg%3Fitok%3D0LtUgzpb&w=700&q=85>
              <%=puts "Pork Pot-Stickers"%>
          <img src=https://omnivorescookbook.com/wp-content/uploads/2013/07/1502_Zha-Jiang-Mian_020.jpg>
              <%=puts "Fried Sauce Noodles"%>
          <img src=https://chinasichuanfood.com/wp-content/uploads/2015/03/fried-sesame-balls-11.jpg>
              <%=puts "Sesame Balls"%>
      <%elsif level_of_difficulty=="A" && type_of_cuisine=="A"%>
          <img src=https://img.sndimg.com/food/image/upload/w_896,h_504,c_fill,fl_progressive,q_80/v1/img/recipes/93/71/4/picF8x8Jr.jpg>
            <%=puts "Spaghetti"%>
          <img src=https://cdn3.tmbi.com/secure/RMS/attachments/37/300x300/exps41566_HC1597097D177.jpg>
            <%=puts "Eggplant Rollatini"%>
          <img src=https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/2/4/1/RX-FNM_030111-Lighten-Up-012_s4x3.jpg.rend.hgtvcom.406.305.suffix/1382539856907.jpeg>
            <%=puts "Fettuccine Alfredo"%>
      <%elsif level_of_difficulty=="B" && type_of_cuisine=="A"%>
          <img src=https://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/8/30/4/FNM_100110-Weeknight-Dinners-067_s4x3.jpg.rend.hgtvcom.616.462.suffix/1371593324902.jpeg>
            <%=puts "Ravioli"%>
          <img src=https://atmedia.imgix.net/49857603ba4434ed65523956d5644f63a84d531f?auto=format&q=45&w=640.0&fit=max&cs=strip>
            <%=puts "Pizza"%>
          <img src=https://recipeland.com/images/r/21525/335cdfe75b1ee7ccd64c_550.jpg>
            <%=puts "Garlic Alfredo Tortellini"%>
      <%elsif level_of_difficulty=="C" && type_of_cuisine=="A"%>
          <img src=https://img1.southernliving.timeinc.net/sites/default/files/styles/story_card_hero/public/image/2017/01/main/dinners-2504601_month_16914.jpg?itok=tTa-LG6n>
            <%=puts "Calzone"%>
          <img src=https://www.muscleforlife.com/wp-content/themes/mfl-2017/tim/xtimthumb.php,qsrc=https,3A,_,_www.muscleforlife.com,_wp-content,_uploads,_2015,_08,_italian-food-recipes.png,aw=640,aq=85.pagespeed.ic.amCi5WcywZ.webp>
            <%=puts "Protein Packed Lasanga"%>
          <img src=https://www.muscleforlife.com/wp-content/uploads/2015/08/xEasy-gnocchi-recipe.jpg.pagespeed.ic.CzPqlCrcza.webp>
            <%=puts "Zuppa Toscana (Creamy Gnocchi Soup)"%>
      <%elsif level_of_difficulty=="A" && type_of_cuisine=="C"%>
          <img src=https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--1035691_10.jpg?itok=j0n5BxDw>
            <%=puts "Lancashire Hotpot"%>
          <img src=https://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/11/10/3/FNM_120114-Yorkshire-Pudding-Recipe_s4x3.jpg.rend.hgtvcom.616.462.suffix/1415894499579.jpeg>
            <%=puts "Yorkshire Pudding"%>
          <img src=https://www.curiouscuisiniere.com/wp-content/uploads/2017/06/Authentic-British-Scones-2427.21.2.jpg>
            <%=puts "British Scones"%>
      <%elsif level_of_difficulty=="B" && type_of_cuisine=="C"%>
          <img src=https://lovefoodies.com/wp-content/uploads/2015/05/Fish-and-chips-FG4.jpg>
            <%=puts "Fish and Chips"%>
          <img src=https://fthmb.tqn.com/PQbK1qMMMnrDDq8JlW5K9ZX_2G8=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/sausage-rolls-2000-58a714863df78c345b74e0fc.jpg>
            <%=puts "Sausage Rolls"%>
          <img src=https://assets.marthastewart.com/styles/wmax-750/d29/shepherds-pie-ED102471FAM001A/shepherds-pie-ED102471FAM001A_horiz.jpg?itok=H9XTte1g>
            <%=puts "Shepherd's Pie"%>
      <%elsif level_of_difficulty=="C" && type_of_cuisine=="C"%>
          <img src=https://food-images.files.bbci.co.uk/food/recipes/how_to_make_fish_pie_56143_16x9.jpg>
            <%=puts "Fish Pie"%>
          <img src=https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--909460_10.jpg?itok=HIirDA4p>
            <%=puts "Beef, Ale, and Parsnip Pudding"%>
          <img src=https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/user-collections/my-colelction-image/2015/12/recipe-image-legacy-id--1079534_10.jpg?itok=SajjID9_>
            <%=puts "Beef Wellington"%>
      <%elsif level_of_difficulty=="A" && type_of_cuisine=="B"%>
          <img src=https://www.tarladalal.com/members/9306/big/big_potato_bhaji-9277.jpg?size=696X905>
            <%=puts "Aloo Bhaji (Spiced Potatoes)"%>
          <img src=https://i0.wp.com/ohmyveggies.com/wp-content/uploads/2017/09/spiced_potato_and_cauliflower1.jpg?resize=820%2C528&ssl=1>  
            <%=puts "Aloo Gobi"%>
          <img src=http://dilepunjab.com/wp-content/uploads/2017/08/aloo-tikki.jpg>
            <%=puts "Aloo Tikki"%>
      <%elsif level_of_difficulty=="B" && type_of_cuisine=="B"%>
          <img src=https://www.cookforindia.com/wp-content/uploads/2016/03/Palak-Paneer-3-1.jpg>
            <%=puts "Palak Paneer (Spinach and Cheese Curry)"%>
          <img src=https://rasamalaysia.com/wp-content/uploads/2011/02/naan3.jpg>
            <%=puts "Naan"%>
          <img src= https://i.ytimg.com/vi/iIVJN0Yz1Y0/maxresdefault.jpg>
            <%=puts "Samosas"%>
      <%elsif level_of_difficulty=="C" && type_of_cuisine=="B"%>
          <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQZ-mSXfhhuD9fcSHgnOJu5fT2j5MtxkaKpgt8_oMkhnodjNikCw>
            <%=puts "Kachi Yakhni Biryani (Steamed Chicken and Rice)"%>
          <img src=https://www.ndtv.com/cooks/images/kadhai%20paneer.jpg>
            <%=puts "Kadai Paneer"%>
      <%elsif level_of_difficulty=="A" && type_of_cuisine=="E"%>
      
      <%elsif level_of_difficulty=="B" && type_of_cuisine=="E"%>
      
      <%elsif level_of_difficulty=="C" && type_of_cuisine=="E"%>
            
    <%end%>
  <%end%>
  <%= puts chinese_cuisine %>
  </body>
</html>